In [2]:
import ibm_db
import ibm_db_sa
import sqlalchemy

In [3]:
%load_ext sql

In [4]:
%sql ibm_db_sa://ybx80860:kM41zZkDkaI7mnI5@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;

In [9]:
from tkinter import *
from PIL import Image, ImageTk
from tkinter import messagebox

root=Tk()


    
    
flig=Frame(root,width=800,height=800)
searchframe=Frame(root,width=800,height=800)

def booknow():
    uid1=str(uid.get())
    fn=str(fnn.get())
    ln=str(lnn.get())
    age1=int(agen.get())
    gender1=str(gendern.get())
    f=str(fid.get())
    from1=str(ffrom.get())
    to1=str(tto.get())
    
    a='+----------+\n| nooftick |\n+----------+\n|    0     |\n+----------+'
    b=%sql select nooftick from flight1 where flightid=:f;
    b=str(b)
    if(a!=b):
            %sql update flight1 set nooftick=nooftick-1 where flightid=:f;
            %sql INSERT INTO searchbook2 (userid,fname,lname,age,gender,ffrom,fto,flightid) values (:uid1,:fn,:ln,:age1,:gender1,:from1,:to1,:f);
            messagebox.showinfo("showinfo", "Ticket booked!")
    else:
        messagebox.showinfo("showinfo", "Ticket Not booked!")
    
    gomain1()
    
def search():
    bookticket.grid_forget()
    from1=str(ffrom.get())
    to1=str(tto.get())
    
    
    y=%sql select * from flight1 where ffrom=:from1 and fto=:to1 and nooftick>0;
    z=%sql select * from flight1 where ffrom=:to1 and nooftick>0;
    y=str(y)
    z=str(z)
    l1=Label(searchframe,text=y)
    l1.grid(row=5,column=15,pady=5,padx=10)
    ll=Label(searchframe,text=z)
    ll.grid(row=6,column=15,pady=5,padx=10)
    l2=Label(searchframe,text="ENTER THE FLIGHT ID OF THE FLIGHT YOU WANT TO BOOK")
    l2.grid(row=10,column=15,pady=5,padx=10)
    l3=Entry(searchframe,textvariable=fid)
    l3.grid(row=15,column=15,pady=5,padx=10)
    b5=Button(searchframe,text="BOOK THIS TICKET!",font="comicsansms 9",command=booknow)
    b5.grid(row=20,column=15,pady=15)
    goback1=Button(searchframe,text="GO TO MAIN PAGE!",font="comicsansms 9",command=gomain1)
    goback1.grid(row=25,column=15,pady=15)
    
    searchframe.grid()
    
    
    
    
    
userframe=Frame(root,width=800,height=800)


#[6:20 pm, 01/04/2022] Aryan Mehta: %sql INSERT INTO searchbook1 (userid,fname,lname,age,gender,ffrom,fto) values (:uid1,:fn,:ln,:age1,:gender1,:from1,:to1);
#[6:27 pm, 01/04/2022] Aryan Mehta: %sql select * from flights1 where ffrom=:from1 and fto=:to1;\

def clearmain1():
    mainpage.grid_forget()
    bookbutton = Button(bookticket, text="SEARCH FLIGHTS!", padx=10, pady=10,command=search)
    bookbutton.grid(row=25, column=3)
    goback1=Button(bookticket,text="GO TO MAIN PAGE!",font="comicsansms 9",command=gomain1)
    goback1.grid(row=26,column=3,pady=15)
    bookticket.grid()

def clearmain2():
    mainpage.grid_forget()
    y= %sql select flightid,airline,ffrom,fto,fdate,ftime,nooftick from flight1 where nooftick>0;
    y=str(y)
    l1=Label(flig,text=y)
    l1.grid(row=5,column=15,pady=5,padx=10)
    goback1=Button(flig,text="GO TO MAIN PAGE!",font="comicsansms 9",command=gomain1)
    goback1.grid(row=30,column=15,pady=15)
    flig.grid()
    
    
u1=StringVar()
pilotsee=StringVar()
planesee=StringVar()
    
def seeuser():
    u=str(u1.get())
    y=%sql select * from searchbook2 where userid=:u;
    y=str(y)
    lb=Label(userframe,text=y)
    lb.grid(row=15,column=2)
    goback1=Button(userframe,text="GO TO MAIN PAGE!",font="comicsansms 9",command=gomain1)
    goback1.grid(row=20,column=2,pady=15)
    
    
l6=Entry(userframe,textvariable=u1)
l7=Label(userframe,text="ENTER USER ID:")
l7.grid(row=11,column=2,pady=5,padx=10)
l6.grid(row=11,column=3,pady=5,padx=10)
b55=Button(userframe,text="PRESS HERE TO CHECK YOUR DETAILS!",command=seeuser)
b55.grid(row=12,column=2)   
    
    
def clearmain3():
    mainpage.grid_forget()
    userframe.grid()

    
def clearmain5():
    mainpage.grid_forget()
    planeframe.grid()
    
    



def gomain1():
    planeframe.grid_forget()
    pilotframe.grid_forget()
    searchframe.grid_forget()
    userframe.grid_forget()
    bookticket.grid_forget()
    flig.grid_forget()
    searchframe.grid_forget()
    mainpage.grid()

pilotframe=Frame(root,width=800,height=800)
planeframe=Frame(root,width=800,height=800)

def clearmain4():
    mainpage.grid_forget()
    pilotframe.grid()

def seeplane():
    p=str(planesee.get())
    y=%sql select * from plane where planeid=:p;
    y=str(y)
    lb=Label(planeframe,text=y)
    lb.grid(row=15,column=2)
    goback1=Button(planeframe,text="GO TO MAIN PAGE!",font="comicsansms 9",command=gomain1)
    goback1.grid(row=20,column=2,pady=15)

def seepilot():
    p=str(pilotsee.get())
    y=%sql select * from pilot where pid=:p;
    y=str(y)
    lb=Label(pilotframe,text=y)
    lb.grid(row=15,column=2)
    goback1=Button(pilotframe,text="GO TO MAIN PAGE!",font="comicsansms 9",command=gomain1)
    goback1.grid(row=20,column=2,pady=15) 



l666=Entry(pilotframe,textvariable=pilotsee)
l777=Label(pilotframe,text="ENTER PILOT ID:")
l777.grid(row=11,column=2,pady=5,padx=10)
l666.grid(row=11,column=3,pady=5,padx=10)
b5555=Button(pilotframe,text="PRESS HERE TO CHECK YOUR DETAILS!",command=seepilot)
b5555.grid(row=12,column=2)   

l66=Entry(planeframe,textvariable=planesee)
l77=Label(planeframe,text="ENTER PLANE ID:")
l77.grid(row=11,column=2,pady=5,padx=10)
l66.grid(row=11,column=3,pady=5,padx=10)
b555=Button(planeframe,text="PRESS HERE TO CHECK YOUR DETAILS!",command=seeplane)
b555.grid(row=12,column=2)   


root.geometry("1000x1000")
root.title("AIRLINE MANAGEMENT SYSTEM")
root.wm_iconbitmap("flightlogo.ico")

titleframe=Frame(root,width=800,height=35)
img=Image.open("plane.jpg")
img=img.resize((200,150),Image.ANTIALIAS)
pht=ImageTk.PhotoImage(img)
Label(titleframe,image=pht,pady=10).grid(row=0,column=5,padx=30)
title=Label(titleframe,text="AIR LINE MANAGEMENT SYSTEM",font="comicsansms 20 bold underline",fg="white",bg="red",padx=220,pady=20)
title.grid(row=0,column=6)
titleframe.grid(row=0,column=0)

mainpage=Frame(root)
b1=Button(mainpage,text="PRESS HERE TO BOOK FLIGHT TICKET!    ",command=clearmain1,font="comicsansms 10 bold",padx=10,pady=25,borderwidth=5)
b2=Button(mainpage,text="PRESS HERE TO VIEW AVAILABLE FLIGHTS!",command=clearmain2,font="comicsansms 10 bold",padx=3,pady=25,borderwidth=5)
b3=Button(mainpage,text="PRESS HERE TO VIEW USERDATA!         ",command=clearmain3,font="comicsansms 10 bold",padx=17,pady=25,borderwidth=5)
b4=Button(mainpage,text="PRESS HERE TO VIEW PILOTDATA!        ",command=clearmain4,font="comicsansms 10 bold",padx=17,pady=25,borderwidth=5)
b5=Button(mainpage,text="PRESS HERE TO VIEW PLANEDATA!        ",command=clearmain5,font="comicsansms 10 bold",padx=17,pady=25,borderwidth=5)


    
    








b1.grid(column=10)
b2.grid(column=10)
b3.grid(column=10)
b4.grid(column=10)
b5.grid(column=10)

mainpage.grid()

uid=StringVar()
fnn=StringVar()
lnn=StringVar()
agen=StringVar()
gendern=StringVar()
ffrom=StringVar()
tto=StringVar()


fid=StringVar()
bookticket=Frame(root)

e1=Entry(searchframe,textvariable=uid)
l1=Label(searchframe,text="ENTER USERID:")
l1.grid(row=5,column=2,pady=5,padx=10)
e1.grid(row=5,column=3,pady=5,padx=10)
e2=Entry(searchframe,textvariable=fnn)
l2=Label(searchframe,text="ENTER FIRSTNAME:")
l2.grid(row=6,column=2,pady=5,padx=10)
e2.grid(row=6,column=3,pady=5,padx=10)
e3=Entry(searchframe,textvariable=lnn)
l3=Label(searchframe,text="ENTER LASTNAME:")
l3.grid(row=7,column=2,pady=5,padx=10)
e3.grid(row=7,column=3,pady=5,padx=10)
e4=Entry(searchframe,textvariable=agen)
l4=Label(searchframe,text="ENTER AGE:")
l4.grid(row=8,column=2,pady=5,padx=10)
e4.grid(row=8,column=3,pady=5,padx=10)
e5=Entry(searchframe,textvariable=gendern)
l5=Label(searchframe,text="ENTER GENDER:")
l5.grid(row=9,column=2,pady=5,padx=10)
e5.grid(row=9,column=3,pady=5,padx=10)


e6=Entry(bookticket,textvariable=ffrom)
l6=Label(bookticket,text="ENTER FROM WHERE YOU WANT BOARD:")
l6.grid(row=10,column=2,pady=5,padx=10)
e6.grid(row=10,column=3,pady=5,padx=10)
e7=Entry(bookticket,textvariable=tto)
l7=Label(bookticket,text="ENTER WHERE YOU WANT TO REACH:")
l7.grid(row=11,column=2,pady=5,padx=10)
e7.grid(row=11,column=3,pady=5,padx=10)









root.mainloop()

 * ibm_db_sa://ybx80860:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;
Done.
 * ibm_db_sa://ybx80860:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;
Done.
 * ibm_db_sa://ybx80860:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;
Done.
 * ibm_db_sa://ybx80860:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;
Done.
 * ibm_db_sa://ybx80860:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;
1 rows affected.
 * ibm_db_sa://ybx80860:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;
1 rows affected.
 * ibm_db_sa://ybx80860:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;
Done.

In [ ]:
%sql select * from searchbook2;

In [11]:
%sql select * from pilot;

 * ibm_db_sa://ybx80860:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;

C:\python3.10.1\lib\site-packages\sql\run.py:367: SAWarning: Dialect ibm_db_sa:ibm_db_sa will not make use of SQL compilation caching as it does not set the 'supports_statement_cache' attribute to ``True``.  This can have significant performance implications including some performance degradations in comparison to prior SQLAlchemy versions.  Dialect maintainers should seek to set this attribute to True after appropriate development and testing for SQLAlchemy 1.4 caching support.   Alternatively, this attribute may be set to False which will disable this warning. (Background on this error at: https://sqlalche.me/e/14/cprf)
  result = conn.session.execute(txt, user_namespace)

Done.

[('Pi074', 'John Crew', 39),
 ('Pi098', 'Tom Smith', 36),
 ('Pi123', 'Harry Mack', 43),
 ('Pi541', 'Ash Ketchum', 35),
 ('Pi641', 'Larry Shaw', 49)]

In [ ]:
%sql describe  table flights1;

In [10]:
 %sql select * from flight1;

 * ibm_db_sa://ybx80860:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;
Done.

[('F0192', 'Pi074', 'Pl199', 'Air India', 'Mumbai', 'Delhi', datetime.date(2022, 4, 4), datetime.time(13, 30), 7),
 ('F1012', 'Pi098', 'Pl129', 'Air India', 'Ahmedabad', 'Guwahati', datetime.date(2022, 1, 4), datetime.time(16, 0), -1),
 ('F9108', 'Pi123', 'Pl007', 'Indigo', 'Mumbai', 'Pune', datetime.date(2022, 10, 4), datetime.time(10, 35), 10),
 ('F3216', 'Pi541', 'Pl307', 'Spice Jet', 'Surat', 'Chennai', datetime.date(2022, 5, 4), datetime.time(14, 0), 9),
 ('F0776', 'Pi621', 'Pl707', 'Air India', 'Patna', 'Bhopal', datetime.date(2022, 11, 4), datetime.time(12, 30), 10),
 ('F0111', 'Pi074', 'Pl199', 'Air India', 'Guwahati', 'Chennai', datetime.date(2022, 5, 4), datetime.time(14, 0), 10)]

In [ ]:
%sql create table flight1 (flightid varchar(5) not null, pilotid varchar(10),planeid varchar(10),airline varchar(25),ffrom varchar(25),fto varchar(25),fdate date,ftime time,nooftick int,primary key(flightid) );

In [11]:
%sql select * from flight1;

 * ibm_db_sa://ybx80860:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;
Done.

[('F0192', 'Pi074', 'Pl199', 'Air India', 'Mumbai', 'Delhi', datetime.date(2022, 4, 4), datetime.time(13, 30), 7),
 ('F1012', 'Pi098', 'Pl129', 'Air India', 'Ahmedabad', 'Guwahati', datetime.date(2022, 1, 4), datetime.time(16, 0), -1),
 ('F9108', 'Pi123', 'Pl007', 'Indigo', 'Mumbai', 'Pune', datetime.date(2022, 10, 4), datetime.time(10, 35), 10),
 ('F3216', 'Pi541', 'Pl307', 'Spice Jet', 'Surat', 'Chennai', datetime.date(2022, 5, 4), datetime.time(14, 0), 9),
 ('F0776', 'Pi621', 'Pl707', 'Air India', 'Patna', 'Bhopal', datetime.date(2022, 11, 4), datetime.time(12, 30), 10),
 ('F0111', 'Pi074', 'Pl199', 'Air India', 'Guwahati', 'Chennai', datetime.date(2022, 5, 4), datetime.time(14, 0), 10)]

In [ ]:
%sql insert into pilot values('Pi641','Larry Shaw',49);

In [ ]:
%sql select * from plane;

In [8]:
%sql update flight1 set nooftick=1 where flightid='F1012';

 * ibm_db_sa://ybx80860:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;
1 rows affected.

[]

In [11]:
%sql insert into flight1 values('F0111','Pi074','Pl199','Air India','Guwahati','Ahmedabad','2022-05-04','14:00:00',10);

 * ibm_db_sa://ybx80860:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;
1 rows affected.

[]

In [15]:
%sql update flight1 set fto='Chennai' where ffrom='Guwahati';

 * ibm_db_sa://ybx80860:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;
1 rows affected.

[]

In [7]:
%sql set current isolation level=RR ;

 * ibm_db_sa://ybx80860:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;
Done.

[]

In [14]:
%%sql
BEGIN WORK;
   LOCK TABLE flight1;
   LOCK TABLE searchbook2;
   UPDATE flight1 SET nooftick = nooftick-1;
COMMIT WORK;

 * ibm_db_sa://ybx80860:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb;security=SSL;

Exception: ipython_sql does not support transactions